.mealPlan{
    display: grid;
    gap: 20px;
    padding: 10px;
}
.mealPlanHeader{
    display: grid;
}
.mealPlanDisplay{
    min-height: 70vh;
    display: grid;

    .noMealPlanData{
        border: 1px solid lightgrey;
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
}